.img-profile{
    max-width: 180px;
    max-height: 222px;
}

.title-profile{
    font-size: 18px;
    font-weight: 800;
    color: #613D2B;
}

.value-profile{
    font-size: 18px;
    font-weight: 400;
    margin-top: -15px;
}


.card-transaction {
    background-color: #F7DADA !important;
    border-radius: 10px !important;

    .result-transaction{
        padding: 16px;
    }

    .status-transaction{
        border-radius: 2px;
        padding: 3px 24px;
        background-color: #DFD9DE;
        color: #00D1FF;
        font-weight: 500;
        font-size: 10px;
    }

    .sub-price-transaction{
        font-weight: 900;
        font-size: 10px;
        color: #974A4A;
        margin-top: 12px;
    }
}
