.title-cart{
    color: #BD0707;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 33px;
}

.attachment-transaction:hover{
    cursor: pointer;
}

.review-cart{
    font-weight: 400;
    font-size: 18px;
    color: #BD0707;
}