// .icon-success-toping{

// }


.item-toping{

    &:hover{
        cursor: pointer;
    }
    .img-toping{
        height: 100px;
        width: 100%;
        object-fit: contain;
    }
    .caption-toping{
        font-weight: 400;
        font-size: 14px;
        color: #BD0707;
    }
}